
body {
	/*color: white;*/
	background-color: white;
	margin: 0px;
}

h2, h4, h5 {
	margin-bottom: 0px;
	margin-top: 5px; 
}

h3 {
	color: gray;
	margin-top: 20px;
	text-align: center;
}

h5 {
	display: inline-block;
}

.clearfix {
	background-color: #840117;
	border: 5px solid #072840;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.box1 {
	float: left;
	margin-right: 20px;
	display: inline-block;
}

/*.playerImage, .contents {
	float: left;
}*/

.playerImage {
	width: 25vw;
	height: 18vw;
	/*border: 5px solid #072840;
	background-color: white;*/
}



/* Search bar and header */
header {
	height: 20vw;
	background-color: #072840;
	text-align: center;
}

#playerForm {
	margin-top: 2vw;
	margin-bottom: 5vw;
	text-align: center;
}

input {
	font-size: 3vw;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

table {
	background-color: white;
	display: inline-block;
}

#submit {
	margin-left: 5px;
	background-color: #072840;
	color: white;
}

#logo {
	margin-bottom: -0.6vw;
	margin-right: 5px;
	height: 3.5vw;
	width: 8vw;
}

#ball {
	margin-top: 5vw;
	height: 10vw;
	width: 10vw;
}
